<html>
    <head>
        <style></style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You Registered at CICCC-WHISTLEBLOWING System</p>
        <p></p>
        <p>Thank you for your attention.</p>
        <p></p>

        <br><br><br>
        CICCC-WHISTLEBLOWING SYSTEM
    </body>
</html>