<html>
    <head>
        <style></style>
    </head>
    <body>
        <p>Hi customer,</p>
        <p>You invated to CICCC-WHISTLEBLOWING System</p>
        <p>Please check access to the link and setup your account.</p>
        <p>Thank you for your attention.</p>
        <a href="{{link}}"><p>{{link}}</p></a>

        <br><br><br>
        CICCC-WHISTLEBLOWING SYSTEM
    </body>
</html>