<html>
    <head>
        <style></style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>A new report posted by user</p>
        <p>Please check it and asign an Admin User.</p>
        <p>Thank you for your attention.</p>
        <br><br><br>
        CICCC-WHISTLEBLOWING SYSTEM
    </body>
</html>