<html>
    <head>
        <style></style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>a new Update by admin on your report:{{reportId}}.</p>
        <p>Please check it.</p>
        <p>Thank you for your attention.</p>
        <br><br><br>
        CICCC-WHISTLEBLOWING SYSTEM
    </body>
</html>